*.aux
*.blx
*.log
*.pdf
*.toc
*.out
*.psd
/Risorse/Documentazione/Documentazione.bbl
/Risorse/Documentazione/Documentazione.bcf
/Risorse/Documentazione/Documentazione.blg
/Risorse/Documentazione/Documentazione.run.xml
/Risorse/Documentazione/Documentazione.tex
/Server/.ccls-cache/*
/Server/client
/Server/server
/Server/server-port
/Server/Database/SQLite/.ccls-cache/
/Server/init-server
/Server/Database/SQLite/HoleScanner.db
/Server/tollerance-threshold
/Server/server-selection
